@using Microsoft.AspNetCore.Identity
@using DnAStore.Models
@inject SignInManager<User> SignInManager

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value!</span>
    }
    else
    {
        <span>Welcome, stranger!</span>
        
        // Give user a login/register link
        <a href="Account/Register">Register</a>
    }
</body>
</html>