@model DnAStore.Models.Order

@{ 
    ViewData["Title"] = "Order Receipt";
    Layout = "_Layout";
}

<h2>Thank you for your order!</h2>
<br />
<div>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Neighborhood Name
                </th>
                <th>
                    Lot Price
                </th>
                <th>
                    Number of Lots
                </th>
                <th>
                    Item Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        $@(item.Quantity * item.Product.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p>Subtotal: $@Model.Subtotal</p>
        <p><strong>Grand Total: $@Model.FinalTotal</strong></p>
        <p>Order #@Model.TransactionNumber</p>
    </div>

</div>