@page
@model DnAStore.Pages.User.ProfileModel

@using DnAStore.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserMgr

@{
    ViewData["Title"] = "My Profile";
 Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <h3>Welcome!</h3>
</body>
</html>
