@model DnAStore.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="ReturnURL" value="@Model.ReturnURL" />
    <div class="input-block-container">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>

    <div class="input-block-container">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>

    <div class="input-block-container">
        <button type="submit">Login</button>
    </div>

</form>

