body {
    background: url(../assets/images/sitebackground.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;

    h1 {
        text-align: center;
    }
}

main {
    width: 90%;
    margin: 0 auto;
    background: rgba(ivory, 0.75);
    padding: 2vw;
    border: 0.5vw solid steelblue;
    border-radius: 1.5vw;
    color: black;
}

form {
    vertical-align: middle;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;

    a, button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #ccc !important;
        text-decoration-style: none !important;
        color: #222 !important;
        padding: 0.5vw 2vw;
        height: 5vh !important;
        width: 13vw !important;
        border-radius: 0.5vw !important;
        margin: 1vw 2vw;
        z-index: 2;
    }

    .basket-button {
        margin-right: 0;
        width: 10vw !important;
        border-radius: 0.5vw 0 0 0.5vw !important;
    }

    button {
        justify-content: flex-end;
        padding-right: 0.75vw !important;
        width: 4vw !important;
        margin-left: -1vw;
        background: #999 !important;
        z-index: 1;
    }
}

.input-block-container, .input-block-container-button {
    display: inline-grid;
    grid-template-columns: 5vw 15vw auto 20vw 5vw;
    grid-template-rows: 5vh 5vh auto;
    height: 15vh;
    width: 40vw;
    padding: 1%;
    align-items: center;

    label {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    input {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    button {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.input-block-container-button {
    grid-template-columns: 5vw 15vw auto 5vw 15vw 5vw;
}
