@model IEnumerable<DnAStore.Models.BasketItem>
@{
    Layout = null;
}

<div>
    <h4>Your Basket</h4>
    @if (Model.ToList().Count < 1)
    {
        <ul class="navbar-nav mr-auto">
            <li>
                <p>Your basket is currently empty</p>
                <a href="/Shop/Shop" class="btn">Shop</a>
            </li>
        </ul>
        <hr />
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Item Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>$@item.Product.Price</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    }
</div>