@model IEnumerable<DnAStore.Models.BasketItem>
@{ 
    Layout = null;
}

<div class="">
    <h4>Your basket</h4>
    <ul class="navbar-nav mr-auto">
        @if (Model.ToList().Count < 1)
        {
            <li>
                <p>Your basket is currently empty</p>
            </li>
        }
        else
        {
            @foreach (var item in Model)
            {
                <li>
                    <p>Name: @item.Product.Name</p>
                    <img src="@item.Product.Image" height=50 />
                    <p>Quantity: @item.Quantity</p>
                </li>
            }
        }
    </ul>
</div>