@page
@model DnAStore.Pages.Admin.DashboardModel

@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>

</body>
</html>
