@{
    ViewData["Title"] = "Roles";
    Layout = "_Layout";
}

<h1>Roles</h1>

You have accessed the Roles page!!

@* TODO Display all users with admin role on the page *@

@* TODO Add buttons for adding and removing admins *@
